{
    "plugins": [
      ["module-resolver", {
        "~": ["./src"],
        "alias": {
          "test": "./test",
          "underscore": "lodash"
        }
      }]
    ]
  }

//import App from '~/App'