.wrapper{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 9px 16px;

    &:hover{
        background: rgba(22, 24, 35, 0.03);
        
    }
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info{
    flex: 1;
    font-family: "IBM Plex Sans",ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    font-size: 14px;
    color: rgba(22, 24, 35, 1.0);
    margin-left: 12px;

}

.name{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;

}

.check{
    margin-left: 6px;
    font-size: 14px;
    color: rgb(32, 213, 236);
}
.username{
    font-size: 1.4rem;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);

}